<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	
	<connectionStrings>
		<add name="cnnOracle_Dev" connectionString="Data Source=dev;User Id=develop;Password=quoxo;pooling=true" />
		<add name="cnnOracle_Prod" connectionString="Data Source=lims.headquarters.doctorsdata.com;User Id=sapphire;Password=vodo5gray;pooling=true" />
		<add name="cnnSQL_Dev" connectionString="Data Source=COPIADBDEV\COPIA; Initial Catalog=StateReporting;User Id=COPIA;Password=copia;Integrated Security=false;" />
		<add name="cnnSQL_Prod" connectionString="Data Source=COPIADBDEV\COPIA; Initial Catalog=StateReporting;User Id=COPIA;Password=copia;Integrated Security=false;" />
	</connectionStrings>
	
	<appSettings>
		<!--RunCondition: DEV, SANDBOX, PROD-->
		<add key="RunCondition" value="SANDBOX" />

		<!--SapphireAPI setting: DEV, PROD-->
		<!--
		<add key="SapphireClient_endpointUrl" value="http://prod.datagen.com" />
		<add key="SapphireClient_endpointPort" value="4001" />
		-->
		<add key="SapphireClient_endpointUrl_Dev" value="http://ddi-jeff" />
		<add key="SapphireClient_endpointPort_Dev" value="4001" />

		<add key="SapphireClient_endpointUrl_Prod" value="http://ddi-jeff" />
		<add key="SapphireClient_endpointPort_Prod" value="4001" />
		
		
		<!--CreateNextTransPlan: YES,NO--> 
		<add key="NeedCreateNextTransPlan" value="YES" />
		
		<add key="username_Dev" value="sli@doctorsdata.com" />
		<add key="password_Dev" value="SamLee0301" />
		<add key="token_Dev" value="oTThFnIroD9TcA3LUOkoq4VnA" />
		<add key="clientId_Dev" value="3MVG9cHH2bfKACZZfvT7Xx.ZcxxDGgjwUvs80y57.Q3gbkBEdEV9.kbu3p4b94LKP9Si7QV0_s0d6EZgHFR8F" />
		<add key="clientSecret_Dev" value="9493B509D9FA3CEFB8694832AB3C0343D028D68D8AF4C79833EFF6DAEEE22D54" />
		<add key="TokenRequestEndpointUrl_Dev" value="https://developer.salesforce.com/services/oauth2/token" />

		<add key="username_Sandbox" value="ddisli@doctorsdata.com.devpartial" />
		<add key="password_Sandbox" value="SamLee0301" />
		<add key="token_Sandbox" value="l0FZ7hza4dg1r0Igb05Iw14L" />
		<add key="clientId_Sandbox" value="3MVG9EMJF5MdlzDr0I4.oxHds3CHY_URmHu8ZVPhtKzRtbUKHRqhTkC7bXiisPMPM_rhHC8PSE3ceU8n6qes6" />
		<add key="clientSecret_Sandbox" value="5F201407A5C61704C9119B84D01C251ADB89A40BF7C0A48EDCDA4B7FF6B2E9A3" />
		<add key="TokenRequestEndpointUrl_Sandbox" value="https://test.salesforce.com/services/oauth2/token" />
		
		<add key="username_Prod" value="sli@doctorsdata.com" />
		<add key="password_Prod" value="$amLee0301" />
		<add key="token_Prod" value="TesmTatnH9MQ2KzGzCF5ni8Z" />
		<add key="clientId_Prod" value="3MVG9cHH2bfKACZZfvT7Xx.ZcxwRFWbBTQrxF1vgAPW__Yau.63T9jBFyxiVffT8keLysAffXc_ErK5rGen9Z" />
		<add key="clientSecret_Prod" value="888678A426F8A0F6E3AC594C5265C613845E1442619ED26A05E8B4B029394B4E" />
		<add key="TokenRequestEndpointUrl_Prod" value="https://login.salesforce.com/services/oauth2/token" />

		<add key="SFTransLog_Dev" value="C:\Users\sli\Documents\Logs\SFTransLog.txt" />
		<add key="SFTransLog_Prod" value="\\dd386\sys\APPS\Automail\Malfiles\" />
		
		<add key="TextFileMailLocation" value="\\dd386\sys\APPS\Automail\Malfiles\" />
		<add key="ErrorMailRecipient" value="sli@doctorsdata.com" />
	</appSettings>
</configuration>